@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src: url("../fonts/MaterialSymbolsOutlined[FILL\,GRAD\,opsz\,wght].woff2")
    format("woff");
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  text-overflow: clip;
  word-break: break-word;
  font-weight: 400;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

body,
html {
  font-family: "Finger Paint", sans-serif;
  background-color: var(--color1);
}

:root {
  --color1: #181818;
  --color2: #54442a;
  --color3: #e6af42;
  --color4: #422d00;
  --color5: #332f28;
  --color6: #1f1b16;
  --color7: #d1c5b4;
  --color8: #F7DFBB;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  margin-left: 5px;
}

#menu {
  color: white;
  display: block;
  margin-right: 40px;
  font-size: 40px;
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
}
header > div > nav a.link-ext {
  display: none;
}
#navigation-zone {
  display: none;
}
#menu:hover,
#menu-close:hover {
  background-color: #363636;
}

#menu-open {
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--color1);
  width: 80%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  box-shadow: 2px 2px 5px black;
  transform: translate(440px);
  z-index: 2;
}

#escuro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
  display: none;
}

#menu-open span:not(span.bi-x) {
  margin-right: 10px;
}
#menu-close {
  border-radius: 50%;
  padding: 10px;
  align-self: flex-end;
  margin-right: 40px;
  margin-top: 20px;
  cursor: pointer;
}

#menu-open span.bi-x::before {
  display: inline;
  font-size: 50px;
  margin: 0px;
  color: white;
}
#menu-open img {
  margin-bottom: 25px;
}
#menu-open a {
  padding: 26px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  height: 60px;
  border-radius: 30px;
  transition: 0.1s;
}
a.link-site {
  width: 350px;
}

a.link-site:hover {
  background-color: var(--color2);
  color: white;
  font-variation-settings: "FILL" 1;
}
.barra {
  margin-top: 5px;
  height: 1px;
  width: 80%;
  background-color: var(--color5);
}
a.link-def{
    background-color: var(--color3);
    margin: 0px 10px;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--color4);
    height: 30px;
    border-radius: 30px;
    transition: 0.1s;
    align-self: center;
}
#menu-open a.link-ext {
  background-color: var(--color3);
  color: var(--color4);
  margin-top: 15px;
}
a.link-ext span {
  font-size: 26px;
  font-variation-settings: "FILL" 1;
}

#banner-contain {
  margin: auto;
  background-image: url(../assets/gpotrello.webp);
  background-size: cover;
  background-position: center center;
  width: 99%;
  border-radius: 50px;
  opacity: 0.8;
}

#banner {
  backdrop-filter: blur(15px) brightness(65%);
  color: white;
  height: 500px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  padding: 20px;
}

#banner h1 {
  font-weight: 400;
  margin: 0px;
  font-size: 3.5em;
}

#banner h2 {
  font-size: 1.5em;
  font-weight: 400;
}

#link-explore {
  margin-top: 10px;
  display: inline-block;
  width: 120px;
  text-align: center;
  padding: 15px;
  border-radius: 30px;
  background-color: var(--color3);
  color: var(--color4);
}

nav#secondnav {
  margin: 30px 0px 15px 5px;
  display: block;
  max-width: 60%;
  margin: 30px auto 15px auto;
  text-align: left;
}

nav#secondnav a {
  color: white;
}

nav#secondnav span{
    color: white;
}

footer {
    background-color: #eae1d9;
  }
  
  footer img {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  footer div {
    display: flex;
  }
  footer p {
    text-align: center;
    color: var(--color4);
    padding: 20px;
  }
