:root {
  --color1: #181818;
  --color2: #54442a;
  --color3: #e6af42;
  --color4: #422d00;
  --color5: #332f28;
  --color6: #1f1b16;
  --color7: #D1C5B4;
}

#menu {
  display: none;
}

header > div > nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550px;
}
header > div > nav span{
    margin-right: 5px;
}

header > div > nav a.link-ext {
  background-color: var(--color3);
  padding: 26px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--color4);
  height: 60px;
  border-radius: 30px;
  transition: 0.1s;
  align-self: center;
}

#navigation-zone{
    margin: 10px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 95%;
}

.linkname{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: var(--color7);
    padding: 15px;
    word-break: keep-all;
    flex: 0 0 auto;
}
