@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body,
html {
  font-family: "Finger Paint", sans-serif;
  background-color: var(--color1);
  overflow: hidden;
}

:root {
  --color1: #181818;
  --color2: #54442a;
  --color3: #E6AF42;
  --color4: #422D00;
  --color5: #332F28;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  margin-left: 5px;
}

#menu {
  color: white;
  display: block;
  margin-right: 40px;
  font-size: 40px;
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
}

#menu:hover, #menu-close:hover {
  background-color: #363636;
}

#menu-open {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--color1);
  width:80%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  box-shadow: 2px 2px 5px black;
  transform: translate(440px);
  z-index: 2;
}

#escuro{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
  display: none;
}

#menu-open span:not(span.bi-x) {
  margin-right: 10px;
}
#menu-close{
  border-radius: 50%;
  padding: 10px;
  align-self: flex-end;
  margin-right: 40px;
  margin-top: 20px;
  cursor: pointer;
}

#menu-open span.bi-x::before{
  display: inline;
  font-size: 50px;
  margin: 0px;
  color: white;
}
#menu-open img{
  margin-bottom: 25px;
}
#menu-open a {
  padding: 26px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  height: 60px;
  border-radius: 30px;
  transition: .1s;
}
a.link-site{
  width: 350px;
}

a.link-site:hover {
  background-color: var(--color2);
  color: white;
  font-variation-settings: 
  'FILL' 1
}
#menu-open #barra{
  margin-top: 5px;
  height: 1px;
  width: 80%;
  background-color: var(--color5);
}
#menu-open a.link-ext{
  background-color: var(--color3);
  color: var(--color4);
  margin-top: 15px;
}
a.link-ext span{
  font-size: 26px;
  font-variation-settings: 'FILL' 1;
}
